request:
	method: GET
	body:
	query:

controller: Tests\Fixtures\App\OpenapiController

response:
	statusCode: 200
	body: """
		{"status":"ok","data":{"openapi":"3.0.3","info":{"title":"API"},"paths":[]}}
	"""
